 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Quicknoms</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tired of the Food Network and their insanely complex recipes? Are you a student or new graduate looking for simple, inexpensive, easy to make, fast recipes? You've come to the right place!</p>
                </div>
                <div class="col-lg-4">
                    <p>QuickNoms has curated recipes from our community of kitchen ninjas. Just have a frying pan and some eggs? Let's see what we can make quickly and easily, on a budget! </p>
                </div>
            </div>
        </div>
    </section>